@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .defaultTransitionCSS {
    @apply transition-all ease-in-out duration-500;
  }
}

body {
  color: #F2F2F2;
  background: #040406;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}