@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .defaultTransitionCSS {
    @apply transition-all ease-in-out duration-300;
  }
}

body {
  color: #F2F2F2;
  background: #040406;
}

/* Body Scrollbar CSS */
body::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #ffffff;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;    /* color of the scroll thumb */
  background-color: #ff3258;
}

.testimonials-item-body {
  overflow-y: auto;
}

/* Body Scrollbar CSS */
.testimonials-item-body::-webkit-scrollbar {
  width: 1px; /* width of the entire scrollbar */
}

.testimonials-item-body::-webkit-scrollbar-track {
  background: #ffffff; /* color of the tracking area */
}

.testimonials-item-body::-webkit-scrollbar-thumb {
  background-color: #ff3258; /* color of the scroll thumb */
}
